/*---------------------------------------------------------------------------
  Theme: Eastern
  
  Your CSS goes here
----------------------------------------------------------------------------*/

/* Adrien - Réglage bug lisibité placeholder et saisies dans inputs */
input.form-control {
	padding: 5px;
}

/* Adrien - Règlage bug visibilité header en mode transparent */
.wrapper {
	z-index: 1000;
}

/* Rudy - hover de bg sur la page template_options */
i:hover {
	color: #2e71f0;
	transition: 0.3s;
}