{% extends "layout.html.twig" %}

{% block content %}
	<!-- Page Title Start -->
        <section class="page-tittle page-tittle-xl kenburn-bg dark-overlay">
			<img class="kenburn-img" src="{{ asset('images/cv-preparation-rendez-vous.jpg') }}" alt="la préparation de l'entretien d'embauche est également primordiale !">
			<div class="container">
				<div class="page-tittle-head">
					<h1>Qui sommes-nous ?</h1>
				</div>
			</div>
		</section>
        <!-- Page Title End -->


        <!-- About Start -->
		<section class="section-1">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<h2 class="heading-1 mrg-top-150">Notre mission</h2>
					</div>
					<div class="col-md-4">
						<div class="pdd-right-30 mrg-top-90" data-parallax='{"y": 40}'>
							<p>Qualité, confiance et respect de nos engagements sont les fondements de notre philosophie. La recherche d’emploi devient de plus en plus difficile et passer la première étape du tri effectué par les RHs peut être parfois le parcours du combattant. Nous vous proposons avec notre service de multiplier vos chances dépasser cette étape.</p>
                            <p>Le CV est a l’image d’une personne : si vous travaillez dans la banque il doit refléter le secteur d’activité, mais surtout vous respecter sinon a l’entretien il y a aura une incohérence. Ca serait équivalent à tricher sur votre photo de profil d’un site de rencontre, vous accédez au rdv mais cela n’ira pas plus loin. Nous n’aimons pas être trompé, et les recruteurs non plus. Par contre, mettre en avant vos compétences et résultats en utilisant notre formulaire validé par plusieurs RH et le rendre plus attrayant/sexy et adapté a votre personnalité est notre cœur de métier.</p>
						</div>
					</div>
					<div class="col-md-5">
						<img class="img-responsive img-style-2 mrg-btm-30" src="{{ asset('images/cv-modele.jpg') }}" alt="" data-parallax='{"y": -40}'>
					</div>
				</div>
			</div>
		</section>


		<section class="section-1">
			<div class="container-fluid">
				<div class="row">
                    <div class="col-md-6">
                        <div class="img-style-1 left">
                            <img class="img-responsive no-mobile-parallax" src="{{ asset('images/about-bg2.jpg') }}" alt="" data-parallax='{"y": -40}'>
                        </div><!-- img-style-1 -->
                    </div>
					<div class="col-md-offset-1 col-md-3">
						<div class="text-content-right" data-parallax='{"y": 40}'>
							<h2 class="heading-1 mrg-top-120">Notre projet</h2>
							<p>Vous aider, c’est aussi simple que cela. Nous avons commencé a pimper des cv pour des amis, puis des amis d'amis. Les retours positifs par rapport au nombre d’entretiens étaient très bons et ça fonctionnait de plus en plus... On sait simplement dit que si ça pouvait aider le plus grand nombre ce serait parfait ! Grace a une équipe de développeurs et de graphistes nous avons créé le site de la manière la plus complète mais simple possible. D’ailleurs si vous voulez nous donner du feed-back nous sommes preneurs.
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section-1">
			<div class="container">
				<div class="text-center">
					<h2 class="heading-1 text-center mrg-btm-30">Pourquoi <span class="theme-color">nous </span> choisir</h2>
					<p class="width-40 mrg-horizon-auto">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from.</p>
			    </div>
				<div class="row mrg-top-50">
					<div class="col-md-4 mrg-btm-30">
						<div class="features-block-5">
							<i class="ei ei-insurance"></i>
							<div class="features-info">
								<h3 class="features-tittle">Une équipe créative</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 mrg-btm-30">
						<div class="features-block-5">
							<i class="ei ei-folder-check"></i>
							<div class="features-info">
								<h3 class="features-tittle">Un retour sur experience</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 mrg-btm-30">
						<div class="features-block-5">
							<i class="ei ei-pencil"></i>
							<div class="features-info">

								<h3 class="features-tittle">Simplicité</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>



		<section class="section-4 fixed-bg bg dark-overlay" style="background-image:url({{ asset('images/cv-entretien-embauche.jpg') }})">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h2 class="mrg-btm-50">Avec Pimp My CV, votre réussite est proche !</h2>
						<a href="/contact"class="btn btn-lg btn-theme border-radius-4">Nous contacter</a>
					</div>
				</div>
			</div>
		</section>

        <!-- About End -->
{% endblock %}
