{% extends "layout2.html.twig" %}

{% block content %}

<script src="https://checkout.stripe.com/checkout.js"></script>


<form action="{{ path('validation') }}" method="post">
        <noscript>You must <a href="http://www.enable-javascript.com" target="_blank">Activez JavaScript</a> pour pouvoir payer votre commande avec notre partenaire Stripe !</noscript>

        <input
            type="submit"
            value="Paiement"
            data-key="{{stripe['publishable_key']}}"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-amount="10000"
            data-currency="eur"
            data-name="PimpMyCV"
            data-description="Pack standard"
            data-locale="auto"
            data-allow-remember-me="false"
        />

        <script src="https://checkout.stripe.com/checkout.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
        <script>
        $(document).ready(function() {
            $(':submit').on('click', function(event) {
                event.preventDefault();
                var $button = $(this),
                    $form = $button.parents('form');
                var opts = $.extend({}, $button.data(), {
                    token: function(result) {
                        $form.append($('<input>').attr({ type: 'hidden', name: 'stripeToken', value: result.id })).submit();
                    }
                });
                StripeCheckout.open(opts);
            });
        });
        </script>
</form>

{% endblock %}
