{% extends "layout2.html.twig" %}

{% block content %}
	<!-- Map Start -->
		<section class="map map-lg">
			<div id="google-map" class="google-map"></div>
		</section>
    <!-- Map End -->


        <!-- Contact Start -->
		<section>
            <div class="container">
				<h1 class="Pimpmycv">Contactez nous</h1>
                <div class="card block-stacking-top mrg-btm-120" data-parallax='{"y": 70}'>
					<div class="content-block-2">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="text-content pdd-vertical-70">
                                        <h2 class="mrg-btm-40">Envoyez-nous un message :</h2>
                                        <form class="contact-form-wrapper"  name="contactForm" id='contact_form' method="post" action='assets/php/email.php'>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <input type="text" class="form-control fill-this" name="nom" placeholder="Nom">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <input type="email" class="form-control input-email fill-this" name="email" placeholder="Email">
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <input type="text" class="form-control fill-this" name="sujet" placeholder="Sujet">
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <textarea class="form-control" name="message" rows="3" placeholder="Message"></textarea>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <div id="mail_succes" class="succes" style="display:none;">
                                                        Merci! Votre mail a bien été reçu
                                                    </div>
                                                    <div id="mail_fail" class="error" style="display:none;">
                                                        Une erreur s'est produite, veuillez réessayer plus tard!
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-12" id="submit">
                                                    <input class="btn btn-md btn-dark" type="submit" id="send_message" value="Envoyer">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="image-container col-md-4 col-md-offset-8">
                            <div class="background-holder theme-overlay has-content">
                                <div class="content pdd-horizon-50">
                                    <h2 class="mrg-btm-30">Contact Info</h2>
                                    <p class="text-light-gray">
                                        <b class="text-white">Numéro:</b>
                                        <span>+41 79 521 2905</span>
                                    </p>
                                    <p class="text-light-gray">
                                        <b class="text-white">Email</b>
                                        <span>info@pimpmycv.fr</span>
                                    </p>
                                    <div class="row mrg-top-30">
                                        <div class="col-md-9">
                                            <p class="font-size-17 text-white"><b >Adresse</b></p>
                                            <p class="text-light-gray">Chemin de Pierrefleur 27, 1004 Lausanne Suisse</p>
                                        </div>
                                    </div>
                                    <div class="row mrg-top-30">
                                        <div class="col-md-9">
                                            <p class="font-size-17 text-white"><b>Horaires d'ouverture</b></p>
                                            <ul>
                                                <li class="text-light-gray mrg-btm-5">lundi-vendredi <span class="mrg-left-10">08:00 – 19:00</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- content -->
                            </div><!-- /background-holder -->
                        </div><!-- /image-container -->
					</div>
				</div>
            </div>
        </section>
        <!-- Contact End -->
{% endblock %}
