{% extends "layout.html.twig" %}

{% block content %}
	 <!-- Page Tittle Start -->
		<section class="page-tittle page-tittle-lg parallax-bg dark-overlay">

			<img class="parallax-img no-mobile-parallax" src="{{ asset('images/bg-3.jpg') }}" alt="homme barbu" data-parallax='{"y": 150}'>
			<div class="container">
				<div class="page-tittle-head">
					<h1>FAQ</h1>
					<p>Foire aux questions</p>
				</div>
			</div>
		</section>
        <!-- Page Tittle End -->
        
		
        <!-- Media Start -->
		<section class="section-1">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="card padding-30">
							<h2 class="mrg-btm-20 pdd-left-10">Comment ça marche?</h2>

							<div class="panel-group" id="accordion">
								<div class="panel">
									<div class="panel-heading">
										<span class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" class="collapsed">

										Comment créer son CV?  </a>

										</span>
									</div>
									<div id="collapse1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
										<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
										minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo consequat.</p></div>
									</div>
								</div>
								<div class="panel">
									<div class="panel-heading">
										<span class="panel-title">
										<a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse2" aria-expanded="false">

										Avez-vous des modèles?</a>

										</span>
									</div>
									<div id="collapse2" class="panel-collapse collapse" aria-expanded="false">
										<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
										minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo consequat.</p></div>
									</div>
								</div>
								<div class="panel">
									<div class="panel-heading">
										<span class="panel-title">
										<a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse3" aria-expanded="false">

										Quand recevrai-je mon CV?</a>

										</span>
									</div>
									<div id="collapse3" class="panel-collapse collapse" aria-expanded="false">
										<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
										minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo consequat.</p></div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card padding-30">

							<h2 class="mrg-btm-20 pdd-left-10">Paiement</h2>

							<div class="panel-group" id="accordion2">
								<div class="panel">
									<div class="panel-heading">
										<span class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion2" href="#collapse5" aria-expanded="false" class="collapsed">

										Comment puis-je payer?</a>

										</span>
									</div>
									<div id="collapse5" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
										<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
										minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo consequat.</p></div>
									</div>
								</div>
								<div class="panel">
									<div class="panel-heading">
										<span class="panel-title">
										<a data-toggle="collapse" class="collapsed" data-parent="#accordion2" href="#collapse6" aria-expanded="false">

										Acceptez-vous les CB?</a>

										</span>
									</div>
									<div id="collapse6" class="panel-collapse collapse" aria-expanded="false">
										<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
										minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo consequat.</p></div>
									</div>
								</div>
								<div class="panel">
									<div class="panel-heading">
										<span class="panel-title">
										<a data-toggle="collapse" class="collapsed" data-parent="#accordion2" href="#collapse7" aria-expanded="false">

										Acceptez-vous Paypal?</a>

										</span>
									</div>
									<div id="collapse7" class="panel-collapse collapse" aria-expanded="false">
										<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
										minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo consequat.</p></div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
        <!-- Media End -->
{% endblock %}