{% extends "layout.html.twig" %}

{% block content %}
	 <!-- Page Tittle Start -->
		<section class="page-tittle page-tittle-lg parallax-bg dark-overlay">
			<img class="parallax-img no-mobile-parallax" src="assets/images/bg-18.jpg" alt="" data-parallax='{"y": 150}'>
			<div class="container">
				<div class="page-tittle-head">
					<h2>FAQ</h2>
					<p>Subtittle Goes Here</p>
				</div>
			    <ol class="breadcrumb pull-right mrg-top-30">
				  <li class="breadcrumb-item"><a href="#">Pages</a></li>
				  <li class="breadcrumb-item active">FAQ</li>
				</ol>
			</div>
		</section>
        <!-- Page Tittle End -->
        
		
        <!-- Media Start -->
		<section class="section-1">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="card padding-30">
							<h2 class="mrg-btm-20 pdd-left-10">Getting started</h2>
							<div class="panel-group" id="accordion">
								<div class="panel">
									<div class="panel-heading">
										<span class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" class="collapsed">
										How Do I Purchase?</a>
										</span>
									</div>
									<div id="collapse1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
										<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
										minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo consequat.</p></div>
									</div>
								</div>
								<div class="panel">
									<div class="panel-heading">
										<span class="panel-title">
										<a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse2" aria-expanded="false">
										How to download my items?</a>
										</span>
									</div>
									<div id="collapse2" class="panel-collapse collapse" aria-expanded="false">
										<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
										minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo consequat.</p></div>
									</div>
								</div>
								<div class="panel">
									<div class="panel-heading">
										<span class="panel-title">
										<a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse3" aria-expanded="false">
										How to become a member?</a>
										</span>
									</div>
									<div id="collapse3" class="panel-collapse collapse" aria-expanded="false">
										<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
										minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo consequat.</p></div>
									</div>
								</div>
								<div class="panel">
									<div class="panel-heading">
										<span class="panel-title">
										<a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse4" aria-expanded="false">
										How to become premium member?</a>
										</span>
									</div>
									<div id="collapse4" class="panel-collapse collapse" aria-expanded="false">
										<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
										minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo consequat.</p></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card padding-30">
							<h2 class="mrg-btm-20 pdd-left-10">Payment</h2>
							<div class="panel-group" id="accordion2">
								<div class="panel">
									<div class="panel-heading">
										<span class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion2" href="#collapse5" aria-expanded="false" class="collapsed">
										How Do I Pay?</a>
										</span>
									</div>
									<div id="collapse5" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
										<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
										minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo consequat.</p></div>
									</div>
								</div>
								<div class="panel">
									<div class="panel-heading">
										<span class="panel-title">
										<a data-toggle="collapse" class="collapsed" data-parent="#accordion2" href="#collapse6" aria-expanded="false">
										Do You Accept Credit Cards?</a>
										</span>
									</div>
									<div id="collapse6" class="panel-collapse collapse" aria-expanded="false">
										<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
										minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo consequat.</p></div>
									</div>
								</div>
								<div class="panel">
									<div class="panel-heading">
										<span class="panel-title">
										<a data-toggle="collapse" class="collapsed" data-parent="#accordion2" href="#collapse7" aria-expanded="false">
										Do You Accept Paypal?</a>
										</span>
									</div>
									<div id="collapse7" class="panel-collapse collapse" aria-expanded="false">
										<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
										minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo consequat.</p></div>
									</div>
								</div>
								<div class="panel">
									<div class="panel-heading">
										<span class="panel-title">
										<a data-toggle="collapse" class="collapsed" data-parent="#accordion2" href="#collapse8" aria-expanded="false">
										When Do I Get My Purchased?</a>
										</span>
									</div>
									<div id="collapse8" class="panel-collapse collapse" aria-expanded="false">
										<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
										minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo consequat.</p></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="card padding-30">
							<h2 class="mrg-btm-20 pdd-left-10">Quick Tips</h2>
							<div class="panel-group" id="accordion3">
								<div class="panel">
									<div class="panel-heading">
										<span class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion3" href="#collapse9" aria-expanded="false" class="collapsed">
										How Do I Purchase?</a>
										</span>
									</div>
									<div id="collapse9" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
										<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
										minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo consequat.</p></div>
									</div>
								</div>
								<div class="panel">
									<div class="panel-heading">
										<span class="panel-title">
										<a data-toggle="collapse" class="collapsed" data-parent="#accordion3" href="#collapse10" aria-expanded="false">
										How to download my items?</a>
										</span>
									</div>
									<div id="collapse10" class="panel-collapse collapse" aria-expanded="false">
										<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
										minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo consequat.</p></div>
									</div>
								</div>
								<div class="panel">
									<div class="panel-heading">
										<span class="panel-title">
										<a data-toggle="collapse" class="collapsed" data-parent="#accordion3" href="#collapse11" aria-expanded="false">
										How to become a member?</a>
										</span>
									</div>
									<div id="collapse11" class="panel-collapse collapse" aria-expanded="false">
										<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
										minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo consequat.</p></div>
									</div>
								</div>
								<div class="panel">
									<div class="panel-heading">
										<span class="panel-title">
										<a data-toggle="collapse" class="collapsed" data-parent="#accordion3" href="#collapse12" aria-expanded="false">
										How to become premium member?</a>
										</span>
									</div>
									<div id="collapse12" class="panel-collapse collapse" aria-expanded="false">
										<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
										minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo consequat.</p></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card padding-30">
							<h2 class="mrg-btm-20 pdd-left-10">Downloads</h2>
							<div class="panel-group" id="accordion4">
								<div class="panel">
									<div class="panel-heading">
										<span class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion4" href="#collapse13" aria-expanded="false" class="collapsed">
										How Do I Pay?</a>
										</span>
									</div>
									<div id="collapse13" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
										<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
										minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo consequat.</p></div>
									</div>
								</div>
								<div class="panel">
									<div class="panel-heading">
										<span class="panel-title">
										<a data-toggle="collapse" class="collapsed" data-parent="#accordion4" href="#collapse14" aria-expanded="false">
										Do You Accept Credit Cards?</a>
										</span>
									</div>
									<div id="collapse14" class="panel-collapse collapse" aria-expanded="false">
										<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
										minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo consequat.</p></div>
									</div>
								</div>
								<div class="panel">
									<div class="panel-heading">
										<span class="panel-title">
										<a data-toggle="collapse" class="collapsed" data-parent="#accordion4" href="#collapse15" aria-expanded="false">
										Do You Accept Paypal?</a>
										</span>
									</div>
									<div id="collapse15" class="panel-collapse collapse" aria-expanded="false">
										<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
										minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo consequat.</p></div>
									</div>
								</div>
								<div class="panel">
									<div class="panel-heading">
										<span class="panel-title">
										<a data-toggle="collapse" class="collapsed" data-parent="#accordion2" href="#collapse16" aria-expanded="false">
										When Do I Get My Purchased?</a>
										</span>
									</div>
									<div id="collapse16" class="panel-collapse collapse" aria-expanded="false">
										<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
										minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo consequat.</p></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
        <!-- Media End -->
{% endblock %}