{% extends "layout.html.twig" %}

{% block content %}
	 <!-- Page Tittle Start -->
		<section class="page-tittle page-tittle-lg parallax-bg dark-overlay">

			<img class="parallax-img no-mobile-parallax" src="{{ asset('images/cv-modele.jpg') }}" alt="homme barbu" data-parallax='{"y": 150}'>
			<div class="container">
				<div class="page-tittle-head">
					<h1>FAQ</h1>
					<p>Foire aux questions</p>
				</div>
			</div>
		</section>
        <!-- Page Tittle End -->


        <!-- Media Start -->
		<section class="section-1">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="card padding-30">
							<h2 class="mrg-btm-20 pdd-left-10">Comment fonctionne notre service</h2>

							<div class="panel-group" id="accordion">
								<div class="panel">
									<div class="panel-heading">
										<span class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" class="collapsed">

										<h3 class="font-size-17 font-weight-light ls-1-5">Comment créer son CV ?</h3>  </a>

										</span>
									</div>
									<div id="collapse1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
										<div class="panel-body">
										<p>Il vous suffit de cliquer sur 'Pimp It' et de suivre la procédure. Soit vous nous envoyez votre CV actuel, soit vous remplissez notre questionnaire adapté sur les études réalisées par des journaux spécialises type HBR ou des universite comme Stanford.</p></div>
									</div>
								</div>
								<div class="panel">
									<div class="panel-heading">
										<span class="panel-title">
										<a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse2" aria-expanded="false">

										<h3 class="font-size-17 font-weight-light ls-1-5">Avez-vous des modèles de CV ?</h3></a>

										</span>
									</div>
									<div id="collapse2" class="panel-collapse collapse" aria-expanded="false">
										<div class="panel-body">
										<p>Oui, notre panoplie de modèles va s’étoffer au fur et a mesure. Par contre si vous voulez quelque chose de très particulier envoyez nous un email pour en discuter.</p></div>
									</div>
								</div>
								<div class="panel">
									<div class="panel-heading">
										<span class="panel-title">
										<a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse3" aria-expanded="false">

										<h3 class="font-size-17 font-weight-light ls-1-5">Quels sont vos délais de livraison ?</h3></a>

										</span>
									</div>
									<div id="collapse3" class="panel-collapse collapse" aria-expanded="false">
										<div class="panel-body">
										<p>Nous respectons nos engagements et détestons l’overcomittment, on vous garanti moins de 5 jours hors cas de force majeur pour le premier jet de votre CV.</p></div>
									</div>
								</div>
								<div class="panel">
									<div class="panel-heading">
										<span class="panel-title">
										<a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse3" aria-expanded="false">

										<h3 class="font-size-17 font-weight-light ls-1-5">Peut-on demander des modifications sur le résultat ?</h3></a>

										</span>
									</div>
									<div id="collapse3" class="panel-collapse collapse" aria-expanded="false">
										<div class="panel-body">
										<p>Nous voulons que vous soyez satisfaits de votre CV final. C’est pourquoi nous vous offrons dans notre prestation deux possibilités de révision. Chaque révision prendra de 1 a 5 jours ouvrés.</p></div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card padding-30">

							<h2 class="mrg-btm-20 pdd-left-10">Paiement test</h2>

							<div class="panel-group" id="accordion2">
								<div class="panel">
									<div class="panel-heading">
										<span class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion2" href="#collapse5" aria-expanded="false" class="collapsed">

										<h3 class="font-size-17 font-weight-light ls-1-5">Comment puis-je payer ?</h3></a>

										</span>
									</div>
									<div id="collapse5" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
										<div class="panel-body">
										<p>Rien de plus simple, à la fin de notre processus de commande vous pourrez régler votre commande à l'aide de notre partenaire de paiement Stripe, un des leader mondiaux de la transaction en ligne.</p></div>
									</div>
								</div>
								<div class="panel">
									<div class="panel-heading">
										<span class="panel-title">
										<a data-toggle="collapse" class="collapsed" data-parent="#accordion2" href="#collapse6" aria-expanded="false">

										<h3 class="font-size-17 font-weight-light ls-1-5">Acceptez-vous les cartes bancaires ?</h3></a>

										</span>
									</div>
									<div id="collapse6" class="panel-collapse collapse" aria-expanded="false">
										<div class="panel-body">
										<p>Oui : CB, Visa, MasterCard et American Express pour le moment !</p></div>
									</div>
								</div>
								<div class="panel">
									<div class="panel-heading">
										<span class="panel-title">
										<a data-toggle="collapse" class="collapsed" data-parent="#accordion2" href="#collapse7" aria-expanded="false">

										<h3 class="font-size-17 font-weight-light ls-1-5">Acceptez-vous Paypal ?</h3></a>

										</span>
									</div>
									<div id="collapse7" class="panel-collapse collapse" aria-expanded="false">
										<div class="panel-body">
										<p>Non, malheureuseent pas encore pour le moment</p></div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
        <!-- Media End -->
{% endblock %}
