{% extends "layout.html.twig" %}

{% block content %}
	<!-- Page Tittle Start -->
		<section class="page-tittle page-tittle-lg parallax-bg dark-overlay">
			<img class="parallax-img no-mobile-parallax" src="assets/images/bg-18.jpg" alt="" data-parallax='{"y": 150}'>
			<div class="container">
				<div class="page-tittle-head">
					<h2>Mentions légales</h2>
					<p>Subtittle Goes Here</p>
				</div>
			    <ol class="breadcrumb pull-right mrg-top-30">
				  <li class="breadcrumb-item"><a href="#">Elements</a></li>
				  <li class="breadcrumb-item active">Columns</li>
				</ol>
			</div>
		</section>
        <!-- Page Tittle End -->
		
		<section class="section-1">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="mrg-btm-20">1/1 Columns</h2>
						<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
					</div>
				</div>
				<div class="row mrg-top-50">
					<div class="col-md-6">
						<h2 class="mrg-btm-20">1/2 Columns</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
					</div>
					<div class="col-md-6">
						<h2 class="mrg-btm-20">1/2 Columns</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
					</div>
				</div>
				<div class="row mrg-top-50">
					<div class="col-md-4">
						<h2 class="mrg-btm-20">1/3 Columns</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
					</div>
					<div class="col-md-4">
						<h2 class="mrg-btm-20">1/3 Columns</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
					</div>
					<div class="col-md-4">
						<h2 class="mrg-btm-20">1/3 Columns</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
					</div>
				</div>	
				<div class="row mrg-top-50">
					<div class="col-md-3">
						<h2 class="mrg-btm-20">1/4 Columns</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
					</div>
					<div class="col-md-3">
						<h2 class="mrg-btm-20">1/4 Columns</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
					</div>
					<div class="col-md-3">
						<h2 class="mrg-btm-20">1/4 Columns</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
					</div>
					<div class="col-md-3">
						<h2 class="mrg-btm-20">1/4 Columns</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
					</div>
				</div>	
				<div class="row mrg-top-50">
					<div class="col-md-8">
						<h2 class="mrg-btm-20">2/3 Columns</h2>
						<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.</p>
					</div>
					<div class="col-md-4">
						<h2 class="mrg-btm-20">1/3 Columns</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
					</div>
				</div>
			</div>
		</section>
{% endblock %}