{% extends "layout.html.twig" %}

{% block content %}

        <!-- Hero Start -->
        <section id="hero">
            <div class="fs-hero hero-img" style="background-image:url({{ asset('images/bg-1.jpg') }})">
				<div class="hero-caption text-white center-left">
                    <!--<h3 class="font-weight-light"></h3>
                    <h1 class="ls-2"></h1>
                    <p class="mrg-top-20"></p>
                    <div class="mrg-top-20">
                         <a href class="btn btn-white-inverse btn-md"></a>
                    </div> --><!-- margin -->
                </div>
            </div>
        </section>
        <!-- Hero End -->

	</div>
	<!-- wrapper -->


    <!-- Modal Start -->
    <div class="modal fade modal-center load-active" id="password" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body no-pdd">
                    <div class="login-panel pdd-horizon-15 pdd-vertical-30">



                                    <h3 class="mrg-btm-30 mrg-top-15">Mot de passe oublié ?</h3>
                                    <form action="POST">
                                        <div class="form-wrapper">
                                            <label><b>Indiquez nous votre email</b></label>
                                            <input type="text" name="username" class="form-control width-90" placeholder="Votre email">
                                        </div>
                                        <input class="btn btn-md btn-theme mrg-vertical-20" type="submit" value="Envoyez moi un nouveau mot de passe">
                                    </form>


                            <!-- <div class="col-md-6 col-sm-6">
                                <div class="right-panel text-center">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                            <h3 class="mrg-btm-30 mrg-top-70">Connect With</h3>
                                            <a class="card no-mrg-btm padding-15 display-block text-center text-facebook hover-facebook" href="#">
                                                <i class="ei ei-facebook"></i> <b class="font-secondary ls-1">FACEBOOK</b>
                                            </a>
                                            <div class="mrg-vertical-10">
                                                or
                                            </div>
                                            <a class="card no-mrg-btm padding-15 display-block text-center text-google-plus hover-google-plus" href="#">
                                                <i class="ei ei-google-plus"></i> <b class="font-secondary ls-1">GOOGLE PLUS</b>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                    </div>
                    <div class="modal-close">
                        <a href="/"><button type="button" class="btn icon-btn-md icon-btn-round btn-dark lh-0"><i class="ei ei-close"></i></button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End -->

{% endblock %}
