{% extends "layout.html.twig" %}

{% block content %}

	 <!-- Page Tittle Start -->
		<section class="page-tittle page-tittle-lg parallax-bg dark-overlay">
			<img class="parallax-img no-mobile-parallax" src="assets/images/bg-18.jpg" alt="" data-parallax='{"y": 150}'>
			<div class="container">
				<div class="page-tittle-head">
					<h2>Pimpi It !</h2>
					<p>Pimper votre CV !</p>
				</div>
			    <ol class="breadcrumb pull-right mrg-top-30">
				  <li class="breadcrumb-item"><a href="#">Elements</a></li>
				  <li class="breadcrumb-item active">Forms</li>
				</ol>
			</div>
		</section>
        <!-- Page Tittle End -->

		<section class="section-1">
			<div class="container">
				<div class="row">
					<h2 class="mrg-btm-30">Formulaire CV</h2>
					<form class="form" action="POST">
						<h2>Informations obligatoires :</h2>

						<fieldset>
							<h3>A votre sujet :</h2>

							<div class="form-group">
								<input type="text" name="prenom" id="prenom" placeholder="Votre prénom *" required/>
								<label for="prenom"></label>
							</div>

							<div class="form-group">
								<input type="text" name="nom" id="nom" placeholder="Votre nom *"/>
								<label for="nom"></label>
							</div>

							<div class="form-group">
								<input type="email" name="email" id="email" placeholder="Votre adresse email *"/>
								<label for="email"></label>
							</div>

							<div class="form-group">
								<input type="date" name="date_naissance" id="date_naissance" placeholder="Votre date de naissance *"/>
								<label for="date_naissance"></label>
							</div>

							<div class="form-group">
								<input type="file" name="photo" id="photo" placeholder="Si vous souhaitez nous envoyer votre photo de CV"/>
								<label for="photo"></label>
							</div>
						</fieldset>

						<fieldset>
							<h3>Vos coordonnées :</h2>

							<div class="form-group">
								<input type="text" name="adresse" id="adresse" placeholder="Numéro de rue et rue *"/>
								<label for="adresse"></label>
							</div>

							<div class="form-group">
								<input type="text" name="ville" id="ville" placeholder="Ville *"/>
								<label for="ville"></label>
							</div>

							<div class="form-group">
								<input type="text" name="code_postal" id="code_postal" placeholder="Code postal *"/>
								<label for="code_postal"></label>
							</div>

							<div class="form-group">
								<input type="text" name="pays" id="pays" placeholder="Pays *"/>
								<label for="pays"></label>
							</div>
							
							<div class="form-group">
								<input type="text" name="telephone" id="telephone" placeholder="Téléphone *"/>
								<label for="telephone"></label>
							</div>

						</fieldset>
						<h3>Si vous avez déjà un CV, vous pouvez nous l'envoyer :</h3>

						<div class="form-group">
							<input type="file" name="CV" id="CV" placeholder="Veuillez uploader votre CV"/>
							<label for="CV"></label>
						</div>

						<div class="form-group">
							<input type="submit" name="infos" value="Envoyer"/>
						</div>
					</form>

				</div>
			</div>
		</section>
		<!-- Forms End -->

{% endblock %}
