{% extends "layout.html.twig" %}

{% block content %}
	<!-- Page Tittle Start -->
        <section class="page-tittle page-tittle-lg parallax-bg dark-overlay">
            <img class="parallax-img no-mobile-parallax" src="../../../web/images/bg-2.jpg" alt="" data-parallax='{"y": 150}'>
            <div class="container">
                <div class="page-tittle-head">
                    <h2>Options</h2>
                    <p>Choisissez vos options</p>
                </div>
            </div>
        </section>
        <!-- Page Tittle End -->

            <section class="section-5 bg-gray">
            
            <div class="container">
                <div class="row">
                <form id="formulaire" action="" method="post">
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="pricing-1" style="padding:15px; margin-top: 15px;">
                            <div class="pricing-status">
                               <i class="glyphicon glyphicon-list-alt" style="font-size:2em;"></i>
                                <h3 class="plan"><b>Nombre de page(s)</b></h3>
                                 <ul class="pricing-content">
                                    <select class="form-control" id="page">
                                            <img src ="http://bokertov.typepad.com/.a/6a00d83451bc4a69e2014e8a8f894b970d-800wi" width="100px" height="100px">
                                            <option><li>Choisissez:</li></option>
                                            
                                            <option>Une page</option>
                                            <option>Deux pages</option>
                                            <option>Trois pages</option>
                                    </select>
                                </ul>
                            </div>
                        </div>
                    </div>
                 
                    <div class="col-lg-3 col-md-6">
                    
                        <div class="pricing-1" style="padding:15px; margin-top: 15px;">
                            <div class="pricing-status">
                                <i class="glyphicon glyphicon-heart-empty" style="font-size:2em;"></i>
                                <h3 class="plan"><b>Choix du modèle</b></h3>
                                 <ul class="pricing-content" >
                                     <select class="form-control" id="modele">
                                            <option><li>Choisissez:</li></option>
                                            <option><li>Modèle 1</li></option>
                                            <option><li>Modèle 2</li></option>
                                            <option><li>Modèle 3</li></option>
                                            <option><li>Modèle 4</li></option>
                                    </select>
                                </ul>
                            </div>
                        </div>
                    </div>
               


                    <div class="col-lg-3 col-md-6">
                        <div class="pricing-1 couleur" style="padding:15px; margin-top: 15px;">
                            <div class="pricing-status">
                                <i class="glyphicon glyphicon-tint" style="font-size:2em;"></i>
                                <h3 class="plan"><b>Couleur du modèle</b></h3>
                                 <ul class="pricing-content" >
                                  <select class="form-control" id="couleur">
                                            <option><li>Choisissez:</li></option>
                                            <option><li>Rouge</li></option>
                                            <option><li>Vert</li></option>
                                            <option><li>Bleu</li></option>
                                            <option><li>Gris</li></option>
                                            <option><li>Marron</li></option>
                                    </select>
                                </ul>
                            </div>
                        </div>
                    </div>


                     <div class="col-lg-3 col-md-6">
                        <div class="pricing-1" style="padding:15px; margin-top: 15px;">
                            <div class="pricing-status">
                                <i class="glyphicon glyphicon-option-vertical" style="font-size:2em;"></i>
                                <h3 class="plan"><b>Puce du modèle</b></h3>
                                 <ul class="pricing-content" >
                                    <select class="form-control" id="puce">
                                            <option><li>Choisissez:</li></option>
                                            <option><li>Puce 1</li></option>
                                            <option><li>Puce 2</li></option>
                                            <option><li>Puce 3</li></option>
                                            <option><li>Puce 4</li></option>
                                            <option><li>Puce 5</li></option>
                                    </select>
                                </ul>
                            </div>
                        </div>
                    </div>
              

                    <div class="col-lg-3 col-md-6">
                        <div class="pricing-1" style="padding:15px; margin-top: 15px;">
                            <div class="pricing-status">
                                <i class="glyphicon glyphicon-adjust" style="font-size:2em;"></i>
                                <h3 class="plan"><b>Arrière plan du modèle</b></h3>
                                 <ul class="pricing-content" >
                                    <select class="form-control" id="plan">
                                            <option><li>Choisissez:</li></option>
                                            <option><li>Fond blanc</li></option>
                                            <option><li>Filigrane</li></option>
                                    </select>
                                </ul>
                            </div>
                        </div>
                    </div>
            
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="pricing-1" style="padding:15px; margin-top: 15px;">
                            <div class="pricing-status">
                                <i class="glyphicon glyphicon-signal" style="font-size:2em;"></i>
                                <h3 class="plan"><b>Performance</b></h3>
                                 <ul class="pricing-content" >
                                 <select class="form-control" id="performance">
                                            <option><li>Choisissez:</li></option>
                                            <option><li>Texte</li></option>
                                            <option><li>Barre</li></option>
                                            <option><li>Rond</li></option>
                                </select>
                                </ul>
                            </div>
                        </div>
                      </div>


                    <div class="col-lg-3 col-md-6">
                        <div class="pricing-1" style="padding:15px; margin-top: 15px;">
                            <div class="pricing-status">
                                <i class="glyphicon glyphicon-sunglasses" style="font-size:2em;"></i>
                                <h3 class="plan"><b>Activités</b></h3>
                                 <ul class="pricing-content" id="activite">
                                 <select class="form-control" id="activite">
                                            <option><li>Choisissez:</li></option>
                                            <option><li>Texte</li></option>
                                            <option><li>Icone</li></option>
                                </select>
                                </ul>
                            </div>
                        </div>
                    </div>
                
                   
                    <div class="col-lg-3 col-md-6">
                        <div class="pricing-1" style="padding:12px; margin-top: 16px;">
                           
                                <i class="glyphicon glyphicon-thumbs-up" style="font-size:2em;"></i>
                                    <h3 class="plan"><b>Pimp mon CV!</b></h3>
                                    <button type="submit" id="envoyez" value="Valider" class="btn btn-sm btn-theme">Go</button> 
                        </div>
                    </div> 

             </form>
        </div> <!-- fin de row -->         
     </div> <!-- fin de container -->

</section>





     

{% endblock %}


